.App {
  text-align: center;
  background-color: rgb(232, 236, 240);
}

.App-header {
  background-color: rgb(35, 1, 54);
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}

.App-footer {
  padding: 10px;
  border: solid;
  line-height: normal;
  border-style:dotted;
  margin-top: 5px; 
  max-width: 100;
  justify-content: center;
  align-items: center;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
  
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}


.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 25px ;
}


input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}
